<h2 style = "color : Brown"> Data Frame </h2>

In [1]:
# All imports
import numpy as np
import pandas as pd

<h4 style = "color : Sky blue"> Example - 1</h4>  

##### Create a Data Frame cars using raw data stored in a dictionary

In [8]:
cars_per_cap = [809, 731, 588, 18, 200, 70, 45]
country = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
drives_right = [True, False, False, False, True, True, True]

In [9]:
data = {"cars_per_cap": cars_per_cap, "country": country, "drives_right": drives_right}

In [10]:
data

{'cars_per_cap': [809, 731, 588, 18, 200, 70, 45],
 'country': ['United States',
  'Australia',
  'Japan',
  'India',
  'Russia',
  'Morocco',
  'Egypt'],
 'drives_right': [True, False, False, False, True, True, True]}

In [11]:
cars = pd.DataFrame(data)

cars

   cars_per_cap        country  drives_right
0           809  United States          True
1           731      Australia         False
2           588          Japan         False
3            18          India         False
4           200         Russia          True
5            70        Morocco          True
6            45          Egypt          True

In [14]:
type(cars)

pandas.core.frame.DataFrame

<h4 style = "color : Sky blue"> Example - 2 (Reading data from a file)</h4>  

##### Create a Data Frame by importing cars data from cars.csv

In [13]:
# Read a file using pandas

cars_df = pd.read_csv('cars.csv')

cars_df

FileNotFoundError: [Errno 2] No such file or directory: 'cars.csv'

<h4 style = "color : Sky blue"> Example - 3 (Column headers)</h4>  

##### Read file - skip header

In [35]:
cars_df = pd.read_csv('cars.csv', header=None)

cars_df

       0    1              2      3      4
0   USCA   US  United States  809.0  False
1  ASPAC  AUS      Australia  731.0   True
2  ASPAC  JAP          Japan  588.0   True
3  ASPAC   IN          India   18.0   True
4  ASPAC   RU         Russia  200.0  False
5  LATAM  MOR        Morocco   70.0  False
6    AFR   EG          Egypt   45.0  False
7    EUR  ENG        England    NaN   True

##### Assign Headers

In [36]:
# Returns an array of headers

cars_df.columns

Int64Index([0, 1, 2, 3, 4], dtype='int64')

In [37]:
# Rename Headers

cars_df.columns = ['country code', 'region', 'country', 'cars_per_cap', 'drive_right']

In [38]:
cars_df

  country code region        country  cars_per_cap  drive_right
0         USCA     US  United States         809.0        False
1        ASPAC    AUS      Australia         731.0         True
2        ASPAC    JAP          Japan         588.0         True
3        ASPAC     IN          India          18.0         True
4        ASPAC     RU         Russia         200.0        False
5        LATAM    MOR        Morocco          70.0        False
6          AFR     EG          Egypt          45.0        False
7          EUR    ENG        England           NaN         True

<h4 style = "color : Sky blue"> Example - 4 (Row index/names) </h4>  

##### Read file - skip header and assign first column as index.

In [31]:
# Index is returned by
cars_df.index

RangeIndex(start=0, stop=8, step=1)

In [43]:
# Read file and set 1st column as index
cars_df = pd.read_csv("cars.csv", header= None, index_col=0)

# set the column names
cars_df.columns = ['region', 'country', 'cars_per_cap', 'drive_right']
cars_df

      region        country  cars_per_cap  drive_right
0
USCA      US  United States         809.0        False
ASPAC    AUS      Australia         731.0         True
ASPAC    JAP          Japan         588.0         True
ASPAC     IN          India          18.0         True
ASPAC     RU         Russia         200.0        False
LATAM    MOR        Morocco          70.0        False
AFR       EG          Egypt          45.0        False
EUR      ENG        England           NaN         True

In [44]:
# Print the new index
cars_df.index

Index(['USCA', 'ASPAC', 'ASPAC', 'ASPAC', 'ASPAC', 'LATAM', 'AFR', 'EUR'], dtype='object', name=0)

##### Rename the Index Name

In [46]:
cars_df.index.name = 'country_code'
cars_df

             region        country  cars_per_cap  drive_right
country_code
USCA             US  United States         809.0        False
ASPAC           AUS      Australia         731.0         True
ASPAC           JAP          Japan         588.0         True
ASPAC            IN          India          18.0         True
ASPAC            RU         Russia         200.0        False
LATAM           MOR        Morocco          70.0        False
AFR              EG          Egypt          45.0        False
EUR             ENG        England           NaN         True

##### Delete the index name

In [51]:
cars_df.index.name = None
cars_df

      region        country  cars_per_cap  drive_right
USCA      US  United States         809.0        False
ASPAC    AUS      Australia         731.0         True
ASPAC    JAP          Japan         588.0         True
ASPAC     IN          India          18.0         True
ASPAC     RU         Russia         200.0        False
LATAM    MOR        Morocco          70.0        False
AFR       EG          Egypt          45.0        False
EUR      ENG        England           NaN         True

##### Set Hierarchical index

In [52]:
# Read file and set 1st column as index
cars_df = pd.read_csv("cars.csv", header= None)

# set the column names
cars_df.columns = ['country_code','region','country','cars_per_cap','drives_right']

cars_df.set_index(['region', 'country_code'], inplace=True)

In [53]:
cars_df

                           country  cars_per_cap  drives_right
region country_code
US     USCA          United States         809.0         False
AUS    ASPAC             Australia         731.0          True
JAP    ASPAC                 Japan         588.0          True
IN     ASPAC                 India          18.0          True
RU     ASPAC                Russia         200.0         False
MOR    LATAM               Morocco          70.0         False
EG     AFR                   Egypt          45.0         False
ENG    EUR                 England           NaN          True

<h4 style = "color : Sky blue"> Example - 5 (Write Data Frame to file) </h4>  

##### Write cars_df to cars_to_csv.csv

In [54]:
cars_df.to_csv('cars_to_csv.csv')