In [48]:
csv= 'https://media-doselect.s3.amazonaws.com/generic/A08MajL8qN4rq72EpVJbAP1Rw/marks_1.csv'

In [49]:
import numpy as np
import pandas as pd

In [50]:
df= pd.read_csv(csv,sep='|', header=None, index_col=0)

In [51]:
df.columns

Index([1, 2, 3, 4, 5], dtype='int64')

In [52]:
df.columns=['Name','Subject','Maximum Marks','Mark Obtained', 'Percentage']

In [53]:
df.index.name='S.No'

In [54]:
df.describe()

       Maximum Marks  Mark Obtained  Percentage
count      12.000000      12.000000   12.000000
mean       46.666667      40.500000   86.916667
std         4.923660       5.600325    7.354137
min        40.000000      31.000000   78.000000
25%        40.000000      38.000000   80.000000
50%        50.000000      40.000000   85.000000
75%        50.000000      44.000000   94.000000
max        50.000000      49.000000   98.000000

In [55]:
office = pd.read_csv('rating.csv', header=None, index_col=[2,1])

In [56]:
office.columns=['ID','Rating']

In [57]:
office.index.name='Office'

In [58]:
office =office.iloc[1:, :]

In [59]:
office.head(5)

                        ID Rating
2         1
New Delhi Finance    U2F26    3.4
          Marketing  U2M61    3.9
          Sales      U1S15    2.8
Mumbai    HR         U1H87    2.1
New Delhi Sales      U1S51    4.6

In [60]:
df=pd.read_csv('rating.csv')

In [61]:
df.describe()

           Rating
count  524.000000
mean     3.550191
std      0.850430
min      2.100000
25%      2.800000
50%      3.500000
75%      4.300000
max      5.000000

In [62]:
df.columns

Index(['ID', 'Department', 'Office', 'Rating'], dtype='object')

In [63]:
df.shape

(533, 4)

In [1]:
'''
import io
import requests
import pandas as pd
c = requests.get('https://query.data.world/s/vBDCsoHCytUSLKkLvq851k2b8JOCkF', verify=False) # copy the query from above code in the respective query
s = c.content
marks = pd.read_csv(io.StringIO(s.decode('utf-8')))

import pandas as pd
#df = pd.read_csv('https://query.data.world/s/vBDCsoHCytUSLKkLvq851k2b8JOCkF')
#df_2 = #Type your code here for indexing the dataframe
df_2 = marks.iloc[::2]
df_2= df_2.drop(index=0)
print(df_2.head(20))


'''

"\nimport io\nimport requests\nimport pandas as pd\nc = requests.get('https://query.data.world/s/vBDCsoHCytUSLKkLvq851k2b8JOCkF', verify=False) # copy the query from above code in the respective query\ns = c.content\nmarks = pd.read_csv(io.StringIO(s.decode('utf-8')))\n\nimport pandas as pd\n#df = pd.read_csv('https://query.data.world/s/vBDCsoHCytUSLKkLvq851k2b8JOCkF')\n#df_2 = #Type your code here for indexing the dataframe\ndf_2 = marks.iloc[::2]\ndf_2= df_2.drop(index=0)\nprint(df_2.head(20))\n\n\n"

In [ ]:
import pandas as pd
df = pd.read_csv('https://query.data.world/s/vBDCsoHCytUSLKkLvq851k2b8JOCkF')
#df_2 = #Type your code here.
print(df_2.head(20))


import io
import requests
import pandas as pd
c = requests.get('https://query.data.world/s/vBDCsoHCytUSLKkLvq851k2b8JOCkF', verify=False) # copy the query from above code in the respective query
s = c.content
marks = pd.read_csv(io.StringIO(s.decode('utf-8')))