In [48]:
csv= 'https://media-doselect.s3.amazonaws.com/generic/A08MajL8qN4rq72EpVJbAP1Rw/marks_1.csv'

In [49]:
import numpy as np
import pandas as pd

In [50]:
df= pd.read_csv(csv,sep='|', header=None, index_col=0)

In [51]:
df.columns

Index([1, 2, 3, 4, 5], dtype='int64')

In [52]:
df.columns=['Name','Subject','Maximum Marks','Mark Obtained', 'Percentage']

In [53]:
df.index.name='S.No'

In [54]:
df.describe()

       Maximum Marks  Mark Obtained  Percentage
count      12.000000      12.000000   12.000000
mean       46.666667      40.500000   86.916667
std         4.923660       5.600325    7.354137
min        40.000000      31.000000   78.000000
25%        40.000000      38.000000   80.000000
50%        50.000000      40.000000   85.000000
75%        50.000000      44.000000   94.000000
max        50.000000      49.000000   98.000000

In [55]:
office = pd.read_csv('rating.csv', header=None, index_col=[2,1])

In [56]:
office.columns=['ID','Rating']

In [57]:
office.index.name='Office'

In [58]:
office =office.iloc[1:, :]

In [59]:
office.head(5)

                        ID Rating
2         1
New Delhi Finance    U2F26    3.4
          Marketing  U2M61    3.9
          Sales      U1S15    2.8
Mumbai    HR         U1H87    2.1
New Delhi Sales      U1S51    4.6

In [60]:
df=pd.read_csv('rating.csv')

In [61]:
df.describe()

           Rating
count  524.000000
mean     3.550191
std      0.850430
min      2.100000
25%      2.800000
50%      3.500000
75%      4.300000
max      5.000000

In [62]:
df.columns

Index(['ID', 'Department', 'Office', 'Rating'], dtype='object')

In [63]:
df.shape

(533, 4)

In [1]:
'''
import io
import requests
import pandas as pd
c = requests.get('https://query.data.world/s/vBDCsoHCytUSLKkLvq851k2b8JOCkF', verify=False) # copy the query from above code in the respective query
s = c.content
marks = pd.read_csv(io.StringIO(s.decode('utf-8')))

import pandas as pd
#df = pd.read_csv('https://query.data.world/s/vBDCsoHCytUSLKkLvq851k2b8JOCkF')
#df_2 = #Type your code here for indexing the dataframe
df_2 = marks.iloc[::2]
df_2= df_2.drop(index=0)
print(df_2.head(20))


'''

"\nimport io\nimport requests\nimport pandas as pd\nc = requests.get('https://query.data.world/s/vBDCsoHCytUSLKkLvq851k2b8JOCkF', verify=False) # copy the query from above code in the respective query\ns = c.content\nmarks = pd.read_csv(io.StringIO(s.decode('utf-8')))\n\nimport pandas as pd\n#df = pd.read_csv('https://query.data.world/s/vBDCsoHCytUSLKkLvq851k2b8JOCkF')\n#df_2 = #Type your code here for indexing the dataframe\ndf_2 = marks.iloc[::2]\ndf_2= df_2.drop(index=0)\nprint(df_2.head(20))\n\n\n"

In [1]:
import pandas as pd
df = pd.read_csv('https://query.data.world/s/vBDCsoHCytUSLKkLvq851k2b8JOCkF')
#df_2 = #Type your code here.
print(df_2.head(20))


import io
import requests
import pandas as pd
c = requests.get('https://query.data.world/s/vBDCsoHCytUSLKkLvq851k2b8JOCkF', verify=False) # copy the query from above code in the respective query
s = c.content
marks = pd.read_csv(io.StringIO(s.decode('utf-8')))

NameError: name 'df_2' is not defined

In [10]:
import numpy as np
import pandas as pd

# The file is stored at the following path:
# 'https://media-doselect.s3.amazonaws.com/generic/NMgEjwkAEGGQZBoNYGr9Ld7w0/rating.csv'
df = pd.read_csv('https://media-doselect.s3.amazonaws.com/generic/NMgEjwkAEGGQZBoNYGr9Ld7w0/rating.csv',header=0)

# Provide your answer below

print(df)

        ID Department     Office  Rating
0    U2F26    Finance  New Delhi     3.4
1    U2M61  Marketing  New Delhi     3.9
2    U1S15      Sales  New Delhi     2.8
3    U1H87         HR     Mumbai     2.1
4    U1S51      Sales  New Delhi     4.6
..     ...        ...        ...     ...
528  U3S44      Sales  New Delhi     4.8
529  U2M11  Marketing  Bangalore     2.5
530  U3F53    Finance  Bangalore     3.2
531  U3S46      Sales  Bangalore     2.9
532  U3S28      Sales  New Delhi     2.9

[533 rows x 4 columns]

In [12]:
df['Rating']>3.5

0      False
1       True
2      False
3      False
4       True
       ...
528     True
529    False
530    False
531    False
532    False
Name: Rating, Length: 533, dtype: bool

In [13]:
df[df['Rating']>3.5]

        ID Department     Office  Rating
1    U2M61  Marketing  New Delhi     3.9
4    U1S51      Sales  New Delhi     4.6
5    U1H78         HR  New Delhi     3.8
6    U3M65  Marketing  New Delhi     5.0
8    U3S75      Sales  Bangalore     4.3
..     ...        ...        ...     ...
520  U1M10  Marketing     Mumbai     3.7
523  U3F46    Finance  New Delhi     3.6
524  U1M31  Marketing  New Delhi     4.6
526  U2S35      Sales     Mumbai     4.9
528  U3S44      Sales  New Delhi     4.8

[261 rows x 4 columns]

In [15]:
df[(df['Rating']>3.5) & (df['Office']=='Bangalore')]

        ID Department     Office  Rating
8    U3S75      Sales  Bangalore     4.3
9    U2H84         HR  Bangalore     4.3
16   U1F53    Finance  Bangalore     3.7
24   U3S93      Sales  Bangalore     3.6
35   U3F66    Finance  Bangalore     4.7
..     ...        ...        ...     ...
497  U2F65    Finance  Bangalore     4.2
499  U2H41         HR  Bangalore     4.0
506  U3H15         HR  Bangalore     3.9
508  U3H28         HR  Bangalore     4.8
513  U3H87         HR  Bangalore     3.7

[99 rows x 4 columns]

In [19]:
df['Training']=df.Rating.apply(lambda x: 'Yes' if x< 3.5 else 'No')

In [21]:
print(df.head(5))

      ID Department     Office  Rating Training
0  U2F26    Finance  New Delhi     3.4      Yes
1  U2M61  Marketing  New Delhi     3.9       No
2  U1S15      Sales  New Delhi     2.8      Yes
3  U1H87         HR     Mumbai     2.1      Yes
4  U1S51      Sales  New Delhi     4.6       No

In [24]:
df[(df['Rating']<3.5) & (df['Department']=='Finance')]

        ID Department     Office  Rating Training
0    U2F26    Finance  New Delhi     3.4      Yes
15   U2F53    Finance  Bangalore     2.7      Yes
19   U1F28    Finance  Bangalore     3.2      Yes
25   U1F15    Finance  Bangalore     3.3      Yes
31   U1F14    Finance  Bangalore     2.9      Yes
..     ...        ...        ...     ...      ...
481  U2F61    Finance     Mumbai     3.2      Yes
502  U3F65    Finance     Mumbai     3.2      Yes
518  U2F27    Finance  New Delhi     3.2      Yes
521  U1F93    Finance  New Delhi     2.1      Yes
530  U3F53    Finance  Bangalore     3.2      Yes

[66 rows x 5 columns]

In [25]:
df[(df['Rating']<3.5) & (df['Department']=='Marketing')]

        ID Department     Office  Rating Training
7    U3M44  Marketing  Bangalore     2.1      Yes
26   U1M67  Marketing  Bangalore     2.7      Yes
28   U3M49  Marketing  New Delhi     2.1      Yes
45   U1M82  Marketing  New Delhi     3.3      Yes
56   U1M79  Marketing  Bangalore     3.2      Yes
..     ...        ...        ...     ...      ...
496  U1M13  Marketing  Bangalore     2.7      Yes
503  U2M15  Marketing  New Delhi     2.6      Yes
505  U3M61  Marketing     Mumbai     3.4      Yes
515  U3M36  Marketing  New Delhi     2.5      Yes
529  U2M11  Marketing  Bangalore     2.5      Yes

[67 rows x 5 columns]

In [30]:
new= df[(df['Rating']<3.5) & (df['Department']=='HR')]

In [27]:
df[(df['Rating']<3.5) & (df['Department']=='Sales')]

        ID Department     Office  Rating Training
2    U1S15      Sales  New Delhi     2.8      Yes
13   U1S75      Sales  Bangalore     3.0      Yes
33   U2S18      Sales  Bangalore     3.2      Yes
39   U1S77      Sales  Bangalore     3.1      Yes
42   U1S42      Sales     Mumbai     2.5      Yes
..     ...        ...        ...     ...      ...
522  U2S41      Sales     Mumbai     3.4      Yes
525  U1S25      Sales  New Delhi     3.4      Yes
527  U1S22      Sales  Bangalore     3.4      Yes
531  U3S46      Sales  Bangalore     2.9      Yes
532  U3S28      Sales  New Delhi     2.9      Yes

[61 rows x 5 columns]

In [28]:
#df[percent] = (df['column_name'] / df['column_name'].sum()) * 100

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [38]:
new.count()

ID            51
Department    51
Office        51
Rating        51
Training      51
dtype: int64

In [41]:
for i in ['Finance', 'HR', 'Sales', 'Marketing']:
    print(i, len(Rating[(Rating['Training'] == 'No') & (Rating['Department'] == i)]) / len(Rating[Rating['Department'] == i]) * 100)

NameError: name 'Rating' is not defined

In [44]:
df_Department=df.groupby(by=['Department']).mean()

TypeError: agg function failed [how->mean,dtype->object]

In [45]:
import pandas as pd
df = pd.read_csv('https://query.data.world/s/vBDCsoHCytUSLKkLvq851k2b8JOCkF')
#Type your groupby command here
df_1 =df.groupby(['month', 'day'])[['rain', 'wind']].mean() #Type your code to find the mean of columns 'rain' and 'wind'
print(df_1.head(20))

               rain      wind
month day
apr   fri  0.000000  3.100000
      mon  0.000000  3.100000
      sat  0.000000  4.500000
      sun  0.000000  5.666667
      thu  0.000000  5.800000
      wed  0.000000  2.700000
aug   fri  0.066667  4.766667
      mon  0.000000  2.873333
      sat  0.000000  4.310345
      sun  0.025000  4.417500
      thu  0.000000  3.503846
      tue  0.300000  4.567857
      wed  0.000000  3.520000
dec   fri  0.000000  4.900000
      mon  0.000000  8.500000
      sun  0.000000  8.500000
      thu  0.000000  4.900000
      tue  0.000000  8.500000
      wed  0.000000  8.000000
feb   fri  0.000000  4.820000

In [47]:
'''import io
import requests
import pandas as pd
c = requests.get('https://query.data.world/s/vBDCsoHCytUSLKkLvq851k2b8JOCkF', verify=False) # copy the query from above code in the respective query
s = c.content
df = pd.read_csv(io.StringIO(s.decode('utf-8')))
df_1 =df.groupby(['month', 'day'])[['rain', 'wind']].mean() #Type your code to find the mean of columns 'rain' and 'wind'
print(df_1.head(20))
'''

"import io\nimport requests\nimport pandas as pd\nc = requests.get('https://query.data.world/s/vBDCsoHCytUSLKkLvq851k2b8JOCkF', verify=False) # copy the query from above code in the respective query\ns = c.content\ndf = pd.read_csv(io.StringIO(s.decode('utf-8')))\ndf_1 =df.groupby(['month', 'day'])[['rain', 'wind']].mean() #Type your code to find the mean of columns 'rain' and 'wind'\nprint(df_1.head(20))\n"