In [1]:
import pandas as pd

In [2]:
import scipy.stats as ss

In [3]:
twosampup_df= pd.read_csv("unpaired-exhaust.csv")

In [4]:
twosampup_df.head()

  Bike ID  Fuel Economy Batch
0      A1            43   BS4
1      A2            52   BS4
2      A3            58   BS4
3      A4            44   BS4
4      A5            48   BS4

In [5]:
twosampup_df.tail()

   Bike ID  Fuel Economy Batch
43     B20            45   BS6
44     B21            54   BS6
45     B22            48   BS6
46     B23            62   BS6
47     B24            40   BS6

In [6]:
twosampup_df.shape

(48, 3)

In [8]:
bs4 = twosampup_df[twosampup_df["Batch"]=="BS4"]["Fuel Economy"]
bs4.mean()

52.916666666666664

In [9]:
bs6 = twosampup_df[twosampup_df["Batch"]=="BS6"]["Fuel Economy"]
bs6.mean()

51.375

In [12]:
ss.ttest_ind(bs4,bs6, alternative="two-sided")

TtestResult(statistic=0.7087914510636509, pvalue=0.482030754068267, df=46.0)

In [13]:
"""
A custom exhaust manufacturing company want to compare the fuel economy after upgrading motorcycles from stock to custom exhaust. The test were run for 2 different batches i.e. BS4 and BS6 as custom exhaust is compatible with both BS4 and BS6 motorcycles. Both the batches have all different models of bikes as changes has to be compared across all models variants with old BS4 and newer BS6. To track if the custom exhaust affects the fuel economy of the BS4 and BS6 motorcycles differently, you decided to conduct a few hypothesis tests. - Dataset to use: `unpaired-exhaust.csv`
"""

'\nA custom exhaust manufacturing company want to compare the fuel economy after upgrading motorcycles from stock to custom exhaust. The test were run for 2 different batches i.e. BS4 and BS6 as custom exhaust is compatible with both BS4 and BS6 motorcycles. Both the batches have all different models of bikes as changes has to be compared across all models variants with old BS4 and newer BS6. To track if the custom exhaust affects the fuel economy of the BS4 and BS6 motorcycles differently, you decided to conduct a few hypothesis tests. - Dataset to use: `unpaired-exhaust.csv`\n'

In [14]:
twosampp_df=pd.read_csv("paired_jump.csv")

In [15]:
twosampp_df.head()

     Player  Jump before training  Jump after training
0  Player 1                    22                   24
1  Player 2                    20                   22
2  Player 3                    19                   19
3  Player 4                    24                   22
4  Player 5                    25                   28

In [16]:
twosampp_df.shape

(25, 3)

In [23]:
bt=twosampp_df["Jump before training"]
bt.mean()

22.72

In [24]:
at=twosampp_df["Jump after training"]
at.mean()

23.8

In [25]:
ss.ttest_rel(bt,at,alternative="two-sided")

TtestResult(statistic=-3.2602767700386956, pvalue=0.0033180017066275855, df=24)