In [1]:
import pandas as pd

In [3]:
df =pd.read_csv("odi-batting.csv")

In [5]:
df.columns

Index(['Country', 'Player', 'Runs', 'MatchDate', 'Weekday', 'Ground', 'Versus',
       'Balls'],
      dtype='object')

In [11]:
newdf= df[df["Runs"] >=100]

In [14]:
newdf["Strike_rate"] = (newdf["Runs"] / newdf["Balls"])

/tmp/ipykernel_47334/465054081.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf["Strike_rate"] = (newdf["Runs"] / newdf["Balls"])

In [17]:
df_sorted = newdf.sort_values(by="Strike_rate", ascending= False)

In [18]:
df_sorted

,Country,Player,Runs,MatchDate,Weekday,Ground,Versus,Balls,Strike_rate
28157,Pakistan,Shahid Afridi,102,04-10-1996,Fri,Gymkhana Club Ground,Sri Lanka,40,2.550000
28158,Pakistan,Shahid Afridi,102,15-04-2005,Fri,Green Park,India,46,2.217391
34446,South Africa,Mark V Boucher,147,20-09-2006,Wed,Senwes Park,Zimbabwe,68,2.161765
28153,Pakistan,Shahid Afridi,124,21-06-2010,Mon,Rangiri Dambulla International Stad.,Bangladesh,60,2.066667
36753,Sri Lanka,Sanath T Jayasuriya,134,02-04-1996,Tue,Padang Cricket Ground,Pakistan,65,2.061538
...,...,...,...,...,...,...,...,...,...
28851,Pakistan,Ramiz Raja,102,23-02-1992,Sun,Melbourne Cricket Ground,West Indies,158,0.645570
24821,New Zealand,Glenn M Turner,114,14-06-1975,Sat,Old Trafford,India,177,0.644068
43594,West Indies,Cuthbert Gordon Greenidge,103,21-11-1981,Sat,Melbourne Cricket Ground,Pakistan,161,0.639752
43591,West Indies,Cuthbert Gordon Greenidge,106,09-06-1979,Sat,Edgbaston,India,173,0.612717
2141,Australia,David C Boon,102,10-12-1991,Tue,Bellerive Oval,India,168,0.607143

In [22]:
df1= newdf[newdf["Country"] == "India"]

In [29]:
df1['MatchDate'] = pd.to_datetime(df['MatchDate'], format='%d-%m-%Y')

/tmp/ipykernel_47334/1893616899.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['MatchDate'] = pd.to_datetime(df['MatchDate'], format='%d-%m-%Y')

In [31]:
df1['Year'] = df1['MatchDate'].dt.year

/tmp/ipykernel_47334/4268976981.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Year'] = df1['MatchDate'].dt.year

In [32]:
df1

,Country,Player,Runs,MatchDate,Weekday,Ground,Versus,Balls,Strike_rate,Year
13601,India,Sachin R Tendulkar,200,2010-02-24,Wed,Captain Roop Singh Stadium,South Africa,147,1.360544,2010
13602,India,Sachin R Tendulkar,186,1999-11-08,Mon,Lal Bahadur Shastri Stadium,New Zealand,150,1.240000,1999
13603,India,Sachin R Tendulkar,175,2009-11-05,Thu,Rajiv Gandhi International Stadium,Australia,141,1.241135,2009
13604,India,Sachin R Tendulkar,163,2009-03-08,Sun,AMI Stadium,New Zealand,133,1.225564,2009
13605,India,Sachin R Tendulkar,152,2003-02-23,Sun,City Oval,Namibia,151,1.006623,2003
...,...,...,...,...,...,...,...,...,...,...
18180,India,Yusuf K Pathan,123,2010-12-07,Tue,M.Chinnaswamy Stadium,New Zealand,96,1.281250,2010
18181,India,Yusuf K Pathan,105,2011-01-23,Sun,Supersport Park,South Africa,70,1.500000,2011
18244,India,Raman Lamba,102,1986-10-07,Tue,Madhavrao Scindia Cricket Ground,Australia,120,0.850000,1986
18467,India,Woorkeri V Raman,114,1992-12-11,Fri,Supersport Park,South Africa,148,0.770270,1992
18636,India,Chetan Sharma,101,1989-10-25,Wed,Green Park,England,96,1.052083,1989

In [33]:
df1["Year"].value_counts()

Year
1998    18
1999    15
2009    13
2010    12
2005    11
2008    10
2003    10
2000    10
2001     9
2002     9
1996     8
2011     8
1994     7
1997     7
2004     7
2006     5
2007     5
1988     5
1987     4
1990     3
1984     3
1993     2
1989     2
1986     2
1991     2
1995     1
1983     1
1992     1
Name: count, dtype: int64