In [9]:
l1=[500, 789, 2112, 9097, 5894, 9062, 8977, 1223, 773, 600]
l2=[500, 789, 2112, 9097, 5894, 9062, 8977, 1223, 773, 600]

In [8]:
newl1= list(filter(lambda x : (x%2 ==0),l1 ))
newl1

[500, 2112, 5894, 9062, 600]

In [27]:
'''
Even numbers in a list
Description
Given a list of integers, write a python code to find all the even numbers present in the list.


Note: Try using lambda and filter functions to solve the problem.

Input: A list of integers

Output: A list of integers

----------------------------------------------------------------------

Sample input: [5, 7, 22, 97, 54, 62, 77, 23, 73, 61] 

Sample output: [22, 54, 62]

----------------------------------------------------------------------

Sample input: [500, 789, 2112, 9097, 5894, 9062, 8977, 1223, 773, 600]

Sample output: [500, 2112, 5894, 9062, 600]

'''

'\nEven numbers in a list\nDescription\nGiven a list of integers, write a python code to find all the even numbers present in the list.\n\n\nNote: Try using lambda and filter functions to solve the problem.\n\nInput: A list of integers\n\nOutput: A list of integers\n\n----------------------------------------------------------------------\n\nSample input: [5, 7, 22, 97, 54, 62, 77, 23, 73, 61] \n\nSample output: [22, 54, 62]\n\n----------------------------------------------------------------------\n\nSample input: [500, 789, 2112, 9097, 5894, 9062, 8977, 1223, 773, 600]\n\nSample output: [500, 2112, 5894, 9062, 600]\n\n'

In [19]:
l1=[500, 789, 2112, 9097, 5894, 9062, 8977, 1223, 773, 600]

In [23]:
#my solution
newl1=list(filter(lambda x : (x%2 ==0),l1 ))
print(newl1)

[500, 2112, 5894, 9062, 600]

In [25]:
#import ast

#read the input here
#input_list = ast.literal_eval(input())

#since the result is a subset of the input list, we will use the filter function. 
#instead of for loop, we will use the lambda function.  
final_list = list(filter(lambda x: (x%2 == 0) , l1)) 
print(final_list)

[500, 2112, 5894, 9062, 600]

In [26]:
'''
Triple the list elements
Description
Given a list of integers, write a python code to triple all the values in the list.
Note: Try using lambda and map functions to solve the problem.

Input: A list of integers

Output: A list of integers

----------------------------------------------------------------------

Sample input: [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

Output: [15, 21, 66, 291, 162, 186, 231, 69, 219, 183]

----------------------------------------------------------------------

Sample input: [15, 71, 2, 9, 5, 6, 11, 3, 7, 6]

Output: [45, 213, 6, 27, 15, 18, 33, 9, 21, 18]
'''

'\nTriple the list elements\nDescription\nGiven a list of integers, write a python code to triple all the values in the list.\nNote: Try using lambda and map functions to solve the problem.\n\nInput: A list of integers\n\nOutput: A list of integers\n\n----------------------------------------------------------------------\n\nSample input: [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]\n\nOutput: [15, 21, 66, 291, 162, 186, 231, 69, 219, 183]\n\n----------------------------------------------------------------------\n\nSample input: [15, 71, 2, 9, 5, 6, 11, 3, 7, 6]\n\nOutput: [45, 213, 6, 27, 15, 18, 33, 9, 21, 18]\n'

In [28]:
#list(map(lambda n: n * 2, [1, 2, 3, 4, 5]))
s1=[5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

In [29]:
list(map(lambda n: n*3, s1))

[15, 21, 66, 291, 162, 186, 231, 69, 219, 183]

In [30]:
l4=[{ "name" : "Arpit", "rank" : 20}, { "name" : "Manjeet", "rank" : 20 },{ "name" : "Aravind" , "rank" : 19 }]

{'name': 'rank'}

In [34]:
list1=['Arkam', 'Bairstow', 'Cairy', 'Darpan'] 

list2=['ARKAM', 'Bairstow', 'Cairy', 'Darpan', 'Dhoni', 'Sachin']

list3=['arkam', 'bairstow', 'Cheteshwar', 'Dinesh']

In [35]:
list10=list(map(lambda n : n.lower(), list1))

In [37]:
list20=list(map(lambda n : n.lower(), list2))

In [38]:
list30=list(map(lambda n : n.lower(), list3))

In [40]:
list10

['arkam', 'bairstow', 'cairy', 'darpan']

In [43]:
list20

['arkam', 'bairstow', 'cairy', 'darpan', 'dhoni', 'sachin']

In [42]:
list30

['arkam', 'bairstow', 'cheteshwar', 'dinesh']

In [48]:
my_set=set(list10).intersection(list20, list30)

In [50]:
my_list=list(my_set)

In [51]:
my_list

['arkam', 'bairstow']

In [52]:
new_list=[{4: 'Viking', 9: 'Happy', 10: 'Tony', 2: 'Rogers'}, {12: 'Vikram', 19: 'Vipan'}, {3: 'Kohli'}, {1: 'Ronaldo', 29: 'Harish', 7: 'Ganesh'}]

4