In [5]:
#While loop
#Let's create a pin checker which we generally have in our phones or ATMs

pin=input("Enter PIN: ")

while pin != '1234':
    pin = input("Wrong Ping, Please enter correct pin: ")
print("Correct PIN")

Enter PIN:  12
Wrong Ping, Please enter correct pin:  123
Wrong Ping, Please enter correct pin:  4342
Wrong Ping, Please enter correct pin:  1234

Correct PIN

In [6]:
#But usually, you only get three attempts to unlock anything with a pin code. 
#Can this condition be written in the while loop, let's find out in the following video:

In [7]:
import sys
pin = input("Enter PIN: ")
attempt_count=1
while pin != '1234':
    if attempt_count >= 3:
        sys.exit("Too may invalide attempts")
    pin = input('Invalide pin, Please enter correct pin: ')
    attempt_count+=1
print("PIN validated successfully")

Enter PIN:  12
Invalide pin, Please enter correct pin:  34
Invalide pin, Please enter correct pin:  5342

SystemExit: Too may invalide attempts

/opt/anaconda3/lib/python3.11/site-packages/IPython/core/interactiveshell.py:3561: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [8]:
import sys
pin = input("Enter PIN: ")
attempt_count=1
while pin != '1234':
    if attempt_count >= 3:
        sys.exit("Too may invalide attempts")
    pin = input('Invalide pin, Please enter correct pin: ')
    attempt_count+=1
print("PIN validated successfully")

Enter PIN:  12
Invalide pin, Please enter correct pin:  34
Invalide pin, Please enter correct pin:  1234

PIN validated successfully

In [11]:
#'For loop' Control Structure:
#By now, you have understood the syntax of a for loop. 

for val in seq :
    statements
 

#A few things to note in the syntax include:

#seq, which represents a sequence; it can be a list, a tuple or a string. To put it in a simple way it can be any iterable object.

#The in operator, which, as you may recall, is a membership operator that helps to check for the presence of an element in a sequence.  

#But what role is the 'in' operator playing here?

#When you say for val in seq, it means that for a value in sequence, it executes the set of statements in the code block once and returns 
#to 'for' again and then shifts the position to the next value.

#Letâ€™s say you are at the last element in the seq. Here, the for block executes, and now, when it again goes to val in seq, 
#there are no more elements, and hence, val in seq returns a false and stops the execution. 

#The for loop can iterate over any iterable object, we seen a few examples of this already. Dictionary data type is also an iterable object.
    
#Let's learn how for loop can be applied over the dictionaries.

NameError: name 'seq' is not defined

In [13]:
l = [1,2,3,4,5]

for element in l:
    print(element, end= ":")

1:2:3:4:5:

In [14]:
# Task 

product = 'chocolate milk@ mobile butt@er cheese@ bread'

In [15]:
[x for x in product.split() if '@' in x]

['milk@', 'butt@er', 'cheese@']

In [16]:
data = 'mumbai 30 pune 200 delhi 500' # total distance travelled

In [18]:
newdata=data.split()

In [19]:
newdata

['mumbai', '30', 'pune', '200', 'delhi', '500']

In [43]:
total=[]
for i in newdata:
    if i.isdigit():
        total.append(int(i))
print(total)

sum(total)

[30, 200, 500]

730

In [49]:
def numtest(x):
    if 20 - x < 0:
        return (abs(20-x))**2
    elif 20-x > 0:
        return (20-x)
    else:
        print("Some error")

In [52]:
numtest(22)

4

In [55]:
def numtest1(x):
    y=x-20
    if y < 0:
        return y**2
    elif y>0:
        return y
    else:
        print("Some error")

In [54]:
numtest1(22)

2

In [1]:
#Dictonary iteratoino

In [2]:
students_data = {1:['Sam', 24] , 2:['Rob',25], 3:['Jack', 26], 4:['Cornor',24], 5:['Trump',27]}

In [3]:
students_data

{1: ['Sam', 24],
 2: ['Rob', 25],
 3: ['Jack', 26],
 4: ['Cornor', 24],
 5: ['Trump', 27]}

In [8]:
for key, val in students_data.items():
    print(key, val)

1 ['Sam', 24]
2 ['Rob', 25]
3 ['Jack', 26]
4 ['Cornor', 24]
5 ['Trump', 27]

In [9]:
for key, val in students_data.items():
    print(key, val[0])

1 Sam
2 Rob
3 Jack
4 Cornor
5 Trump

In [10]:
for key in students_data.keys():
    print(key)

1
2
3
4
5

In [12]:
L1 = [10, 20, 30, 24, 18]
L2 = [8, 14, 15, 20, 10]
L3 = []

In [15]:
for i in range(len(L2)):
    L3.

[-2, -6, -15, -4, -8]

In [16]:
for i in range(len(L1)):
    L3.append(L2(i) - L1(i))
L3

TypeError: 'list' object is not callable

In [21]:
L4=['VARMA', 'raj', 'Gupta', 'SaNdeeP']
L5= []

In [22]:
for i in L4:
    L5.append(i.capitalize())

In [23]:
L5

['Varma', 'Raj', 'Gupta', 'Sandeep']

In [24]:
list(range(0, -101, 2))

[]

In [25]:
list(range(-100, -1, 2))

[-100,
 -98,
 -96,
 -94,
 -92,
 -90,
 -88,
 -86,
 -84,
 -82,
 -80,
 -78,
 -76,
 -74,
 -72,
 -70,
 -68,
 -66,
 -64,
 -62,
 -60,
 -58,
 -56,
 -54,
 -52,
 -50,
 -48,
 -46,
 -44,
 -42,
 -40,
 -38,
 -36,
 -34,
 -32,
 -30,
 -28,
 -26,
 -24,
 -22,
 -20,
 -18,
 -16,
 -14,
 -12,
 -10,
 -8,
 -6,
 -4,
 -2]

In [26]:
sorted(set(range(-2, -101, -2)))

[-100,
 -98,
 -96,
 -94,
 -92,
 -90,
 -88,
 -86,
 -84,
 -82,
 -80,
 -78,
 -76,
 -74,
 -72,
 -70,
 -68,
 -66,
 -64,
 -62,
 -60,
 -58,
 -56,
 -54,
 -52,
 -50,
 -48,
 -46,
 -44,
 -42,
 -40,
 -38,
 -36,
 -34,
 -32,
 -30,
 -28,
 -26,
 -24,
 -22,
 -20,
 -18,
 -16,
 -14,
 -12,
 -10,
 -8,
 -6,
 -4,
 -2]

In [27]:
l = []
for i in range(-100, 0):
    if(i % 2 == 0):
        l.append(i)
l

[-100,
 -98,
 -96,
 -94,
 -92,
 -90,
 -88,
 -86,
 -84,
 -82,
 -80,
 -78,
 -76,
 -74,
 -72,
 -70,
 -68,
 -66,
 -64,
 -62,
 -60,
 -58,
 -56,
 -54,
 -52,
 -50,
 -48,
 -46,
 -44,
 -42,
 -40,
 -38,
 -36,
 -34,
 -32,
 -30,
 -28,
 -26,
 -24,
 -22,
 -20,
 -18,
 -16,
 -14,
 -12,
 -10,
 -8,
 -6,
 -4,
 -2]

In [16]:
name_converter = lambda name: name.split()[-1] + "." + name.split()[0][0]

In [17]:
name_converter("Rohit sharma")

'sharma.R'

In [18]:
cricketers = ['Rohit Sharma','mahendra singh dhoni','suryakurmar yadav','piyush chavla']

In [19]:
cricketers

['Rohit Sharma', 'mahendra singh dhoni', 'suryakurmar yadav', 'piyush chavla']

In [20]:
[name_converter(name) for name in cricketers]

['Sharma.R', 'dhoni.m', 'yadav.s', 'chavla.p']

In [21]:
# Sample list of numbers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Using map to double each number
doubled_numbers = list(map(lambda x: x * 2, numbers))
print("Doubled numbers:", doubled_numbers)

# Using filter to filter out even numbers
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print("Even numbers:", even_numbers)

Doubled numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
Even numbers: [2, 4, 6, 8, 10]

In [22]:
mixed_data = ['hiii',34,98.6,'True',True,'python',54,100] # extract only integers

In [27]:
list(filter(lambda x: str(x).isdigit(), mixed_data ))

[34, 54, 100]

In [ ]:
for i in mixed_data:

In [29]:
senetence = 'hello everyone, i am enjoying python coding' 
# return sentence where first letter capital of each word

SyntaxError: invalid syntax (272427239.py, line 1)

TypeError: list indices must be integers or slices, not str

SyntaxError: invalid syntax (242153928.py, line 1)

In [40]:
senetence.split()

['hello', 'everyone,', 'i', 'am', 'enjoying', 'python', 'coding']

In [61]:
google_data = open('google_stock_price.csv').readline()
google_data

'Stock Price\n'

In [60]:
print(google_data)

Stock Price