In [26]:
def fun(string):
    count=0
    for i in string:
        if i[0] == 'S':
            count=+1
    return count

In [27]:
l1=['Santa Cruz','Santa fe','Mumbai','Delhi']

In [31]:
sum(l2=list(map(fun, l1)))

TypeError: sum() takes at least 1 positional argument (0 given)

In [30]:
sum(l2)

2

In [20]:
sq=lambda i: i[0]=='S'

In [21]:
list(map(sq, l2))

TypeError: 'int' object is not subscriptable

In [65]:
l1=['Ankur', 'Avik', 'Kiran', 'Nitin']
l2=['Narang', 'Sarkar', 'R', 'Sareen']
res = [i +' ' + j for i, j in zip(l1, l1)]
res

['Ankur Ankur', 'Avik Avik', 'Kiran Kiran', 'Nitin Nitin']

In [66]:
l4=[]
for i, (fname, lname) in enumerate(zip(l1, l2)):
    l4.append(fname) 
l4

['Ankur', 'Avik', 'Kiran', 'Nitin']

In [59]:
l3=[l1[0] +' ' + l2[0]]

In [60]:
l3

['Ankur Narang']

In [61]:
list(filter(lambda name:l1[0] +' ' + l2[0],l1,l2))

TypeError: filter expected 2 arguments, got 3

In [62]:
# Python3 code to demonstrate working of
# Unequal Equi-index elements
# using loop + zip()

# Initialize lists
test_list1 = ["a", "b", "c", "d"]
test_list2 = ["g", "b", "s", "d"]

# printing original lists
print("The original list 1 : " + str(test_list1))
print("The original list 2 : " + str(test_list2))

# Unequal Equi-index elements
# using loop + zip()
res = []
for i, j in zip(test_list1, test_list2):
	if i != j:
		res.append(i)

# printing result
print("Unequal index elements in lists : " + str(res))

The original list 1 : ['a', 'b', 'c', 'd']
The original list 2 : ['g', 'b', 's', 'd']
Unequal index elements in lists : ['a', 'c']

In [67]:
l4=['soap','sharp','shy','silent','ship','summer','sheep']

In [80]:
l5=[]
for i in l4:
    if i[0]=='s' and i[-1]=='p':
        l5.append(i)

In [81]:
l5

['soap', 'sharp', 'ship', 'sheep']

NameError: name 'words' is not defined

In [82]:
input_string = "I love Python"
k = [(i.upper(), len(i)) for i in input_string.split(' ')]
print(k)

[('I', 1), ('LOVE', 4), ('PYTHON', 6)]

In [83]:
var = [i**2 for i in range(5)]
print(var)

[0, 1, 4, 9, 16]

In [84]:
l1=[1,2,3,7]
l2=[4,5,6,9]
[x+y for x in l1 for y in l2]

[5, 6, 7, 10, 6, 7, 8, 11, 7, 8, 9, 12, 11, 12, 13, 16]

In [85]:
x=10
def func(x):
   x=20
print(x)
 
print(x)

10
10

In [86]:
def samplefunc(msg,i=3):
  print(msg*i)
 
samplefunc('python',4)
samplefunc('program')

pythonpythonpythonpython
programprogramprogram

In [87]:
f=lambda x:bool(x%2)
print(f(100)* f(101))

0

In [88]:
l=(1, -2, -3, 4, 5)
def f1(x):
    return x//2
m1=map(f1, l)
print(list(m1))

[0, -1, -2, 2, 2]

In [89]:
l=(1, -2, -3, 4, 5)
def f1(x):
    return x//2
m1=map(f1, l)
print(list(m1))

[0, -1, -2, 2, 2]

In [90]:
from functools import reduce
numbers = [-1, 2, -5, 3, 8,-2, 1,-4,-2]
sum = reduce(lambda x, y: x + y, numbers)
print(sum)

0

In [91]:
sample=[-4,2,5,-3]
ans=map(lambda x: x*2, sample)
print(ans)

<map object at 0x111cf4700>

In [92]:
from functools import reduce
print(list(reduce(lambda x,y:x+y,range(5,15))))

TypeError: 'int' object is not iterable

In [93]:
import functools
lis=[1, 2, 3, 4, 5]
m=functools.reduce(lambda x, y:x if x<y else y, lis)
print(m)
lis=[1, 2, 3, 4, 5]
c=lis[0]
for i in range(len(lis)-1):
    if lis[i]<c:
       c=lis[i]
print(c)

1
1

In [94]:
letters = ('d','i','a','s')
ans = list(map(lambda word: f"{word}x", letters))
print(ans)

['dx', 'ix', 'ax', 'sx']

In [95]:
def sf(a):
    return a%4==0 and a%8!=0
m=filter(sf, range(10, 31))
print(list(m))

[12, 20, 28]